body {
    background-color: #C5E0D8;
}

h1,
h2,
h3,
h4,
li {
    color: #444545;
}

h2 {
    border-bottom: 1px solid #444545;
}

h3 {
    color: black;
}

a {
    top:20px;
    right: 20px;
    text-decoration: none;
    border: 1px solid #444545;
    color:#444545;
    padding: 5px;
    display: inline-grid;
}

a:hover {
    text-decoration: underline;
    background-color:aliceblue;
}
