* {
    box-sizing: border-box;
  }
  

html {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

header {
    padding: 15px;
    margin: 0 auto;
    display:flex;
}

body {
    background-color: #C5E0D8;
    color: #444545;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.pfp {
    padding: 0px;
    border-radius: 50%;
    box-shadow: 50px 0px #F2F8F6;
}

h1 {
    font-size: 70px;
    margin: 5px 100px;
    color: #444545;
    text-shadow: 5px 5px #B6B9B9;
}

h2 {
    text-align: left;
    text-shadow: 5px 5px #B6B9B9;
    font-size: 40px;
}

.about {
    margin: 5px 40px;
    float: left;
    text-align: center;
}
.navigation {
    border: 1px solid #CEABB1;
    padding: 10px;
    margin: 20px 10px 20px;
    width: 25%;
    /*float: left;*/
    font-size: 30px;
    text-decoration: none;
    /*border-radius: 30px;*/
    background-color:#CEABB1;
    color: #444545;
    display: inline;
    /*clear: both;*/
    box-shadow: 5px 5px;
    text-align: center;
    font-family: Roboto;
}

a:hover {
    background-color:#E1CCCF;
    cursor: active;
    text-decoration: underline;
}

a:active {
    background-color:bisque;
    box-shadow: none;
}

.sapsucker {
    background-size: cover;
}

.taro {
    background-size:cover;
}

.home {
     top: 20px;
    right: 20px;
    text-decoration: none;
     border: 1px solid #444545;
     color:#444545;
     padding: 5px;
    text-align: right;
}
